.box {
		  font-family: 'TF2 Build', sans-serif;
		  font-size: 60px;
		  text-align: center;
          background-color:	#A45A52;
		  color: #f6eabe;
		  border: inset 8px	#f6eabe;
		  border-radius: 10px;
		  margin: 10px auto 10px auto;
		  width: 55%;
		  transition:background-color 200ms, color 200ms, transform 350ms, filter 200ms, border 100ms;
          padding:5px;

		  }
		  .box:hover {
			background-color: #367588;
			color: #F5F5DC;
			transform:translate(0px, -8px);
			filter:drop-shadow(10px 10px 4px #c8bf9e);
     
}
			body {
			background-image:url(https://images.gamebanana.com/img/ss/mods/6240b968b4197.jpg);
			background-repeat:no-repeat;
			background-attachment:fixed;
			}
			.emblem {
				width:60px;
				}
				.boxsm {
		  font-family: 'TF2 Build', sans-serif;
		  font-size: 36px;
		  text-align: center;
          background-color:	#A45A52;
		  color: #f6eabe;
		  border: inset 8px	#f6eabe;
		  border-radius: 10px;
		  margin: 10px auto 10px auto;
		  width: 65%;
		  transition:background-color 200ms, color 200ms, transform 350ms, filter 200ms, border 100ms;
		  padding:5px;
		  }
		  .boxsm:hover {
			background-color: #367588;
			color: #F5F5DC;
			transform:translate(0px, -6px);
			filter:drop-shadow(10px 10px 3px #c8bf9e);
}
			.weapon {
				height:50px;
				}
.normal {
	font-family: Tahoma;
}
.stickybutton {
        font-family: 'TF2 Build', sans-serif;
        transition:all 200ms;
        position:sticky;
        top:0;
}
.stickybutton:hover {
        font-size:20px;
}
a {
	text-decoration:none;
	color:inherit;
}
a:hover {
	color:inherit;
}
a:visited {
	color:inherit;
}
img.portrait {
	width:360px;
	height:360px;
	border:solid 1px;
	    }
img.tide-turner {
	width:200px;
	float:center;
	transform:rotate(90deg);
	transition: all 2s;
}
img.tide-turner:hover {
	transform:rotate(810deg);
}
