:root {
        --redteam: #A45A52;
        --redteamalt: #F5F5DC;
        --bluteam: #367588;
	--bluteamalt: #f6eabe;
        --redgradient: 1px 1px #ffffff, 2px 2px #ffcccc, 3px 3px #ff9999, 4px 4px #ff6666, 5px 5px #ff3333, 6px 6px #ff0000, 7px 7px #cc0000, 8px 8px #990000, 9px 9px #660000, 10px 10px #330000;
        --bluegradient: 1px 1px #ffffff, 2px 2px #ccccff, 3px 3px #9999ff, 4px 4px #6666ff, 5px 5px #3333ff, 6px 6px #0000ff, 7px 7px #0000cc, 8px 8px #000099, 9px 9px #000066, 10px 10px #000033;
        --greengradient: 1px 1px #ffffff, 2px 2px #ccffcc, 3px 3px #99ff99, 4px 4px #66ff66, 5px 5px #33ff33, 6px 6px #00ff00, 7px 7px #00cc00, 8px 8px #009900, 9px 9px #006600, 10px 10px #003300;
        --redgradienthovered: 2px 2px #ffffff, 4px 4px #ffcccc, 6px 6px #ff9999, 8px 8px #ff6666, 10px 10px #ff3333, 12px 12px #ff0000, 14px 14px #cc0000, 16px 16px #990000, 18px 18px #660000, 20px 20px #330000;
        --bluegradienthovered: 2px 2px #ffffff, 4px 4px #ccccff, 6px 6px #9999ff, 8px 8px #6666ff, 10px 10px #3333ff, 12px 12px #0000ff, 14px 14px #0000cc, 16px 16px #000099, 18px 18px #000066, 20px 20px #000033;
        --greengradienthovered: 2px 2px #ffffff, 4px 4px #ccffcc, 6px 6px #99ff99, 8px 8px #66ff66, 10px 10px #33ff33, 12px 12px #00ff00, 14px 14px #00cc00, 16px 16px #009900, 18px 18px #006600, 20px 20px #003300;
    }
.box {
		  font-family: 'TF2 Build', sans-serif;
		  font-size: 60px;
		  text-align: center;
          background-color:	#A45A52;
		  color: #f6eabe;
		  border: inset 8px	#f6eabe;
		  border-radius: 10px;
		  margin: 10px auto 10px auto;
		  width: 55%;
		  transition:background-color 200ms, color 200ms, transform 350ms, filter 200ms, border 100ms;
          padding:5px;

		  }
		  .box:hover {
			background-color: #367588;
			color: #F5F5DC;
			transform:translate(0px, -8px);
			filter:drop-shadow(10px 10px 4px #c8bf9e);
     
}
			body {
			background-image:url(https://images.gamebanana.com/img/ss/mods/6240b968b4197.jpg);
			background-repeat:no-repeat;
			background-attachment:fixed;
			}
			.emblem {
				width:60px;
				}
				.boxsm {
		  font-family: 'TF2 Build', sans-serif;
		  font-size: 36px;
		  text-align: center;
          background-color:	#A45A52;
		  color: #f6eabe;
		  border: inset 8px	#f6eabe;
		  border-radius: 10px;
		  margin: 10px auto 10px auto;
		  width: 65%;
		  transition:background-color 200ms, color 200ms, transform 350ms, filter 200ms, border 100ms;
		  padding:5px;
		  }
		  .boxsm:hover {
			background-color: #367588;
			color: #F5F5DC;
			transform:translate(0px, -6px);
			filter:drop-shadow(10px 10px 3px #c8bf9e);
}
			.weapon {
				height:50px;
				}
.normal {
	font-family: Tahoma;
}
.stickybutton {
        font-family: 'TF2 Build', sans-serif;
        transition:all 200ms;
        position:sticky;
        top:0;
}
.stickybutton:hover {
        font-size:20px;
}
a {
	text-decoration:none;
	color:inherit;
}
a:hover {
	color:inherit;
}
a:visited {
	color:inherit;
}
img.portrait {
	width:360px;
	height:360px;
	    }
img.tide-turner {
	width:200px;
	float:center;
	transform:rotate(90deg);
	transition: all 2s;
}
img.tide-turner:hover {
	transform:rotate(810deg);
}
